.footer{
    width:100%;
    background-color:#3c33f3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.links{
    display: flex;
}
.links>a{
    text-decoration: none;
    color:#fff;
    margin:5px;
}
.links>a:hover{
    text-decoration: underline;
    transition: .4s ease-in;
}
h1{
    color:#fff;
}
.redesSociales{
        display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}
.redesSociales>a>img{
    width:40px;
    margin-left: 10px;
}